<!DOCTYPE html>
<!-- <div ng-controller="bodyController as bodyCtrl"> -->
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">

            <!-- A intégrer dans nouvelle vue header -->
            <!-- <h1>{{::bodyCtrl.title}}</h1> -->

            <button type="button" name="button" ng-click="bodyCtrl.startStop()">
                <span ng-show="bodyCtrl.config.IsPlaying">
                    Stop</span>
                <span ng-hide="bodyCtrl.config.IsPlaying">
                    Start</span>
            </button>

            <!-- <span>{{config}}</span> -->

            <audio id="player" src="{{bodyCtrl.config.son}}">
                Votre navigateur ne supporte pas l'élément
                <code>audio</code>
            </audio>

            <input type="number" name="tempo" value="{{bodyCtrl.config.tempo}}" ng-model="bodyCtrl.config.tempo"/>

        </div>
    </div>
</div>
