<!DOCTYPE html>
<!-- <div ng-controller="mainHomeController as mainHomeCtrl"> -->
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">

            <button type="button" name="button" ng-click="mainHomeCtrl.startStop()">
                <span ng-show="mainHomeCtrl.config.IsPlaying">
                    Stop</span>
                <span ng-hide="mainHomeCtrl.config.IsPlaying">
                    Start</span>
            </button>


            <audio id="player" src="{{mainHomeCtrl.config.son}}">
                Votre navigateur ne supporte pas l'élément
                <code>audio</code>
            </audio>

            <input type="number" name="tempo" value="{{mainHomeCtrl.config.tempo}}" ng-model="mainHomeCtrl.config.tempo" min="1" max="260"/>
            <input type="range" name="tempo" value="{{mainHomeCtrl.config.tempo2}}"
                    ng-model="mainHomeCtrl.config.tempo2" min="1" max="260"
                    ng-model-options="{ getterSetter: true }" />
                    
        </div>
    </div>
</div>
